/* Responsive site styling. */

/* Mobile styles here. */
@media screen and (max-width: 468px) {
  body {
    font-size: 14px;
  }

  nav {
    font-size: 20px;
    margin: 0 0 25px 0;
    padding: 20px 0 20px 0;
  }

  .about{
    display: block;
    clear: both;
    padding: 5px 0 0 0;
  }

  .index-box {
    max-width: 90%;
    padding: 20px 0 20px 0;
  }

  #about-me, #contact-block {
    max-width: 80%;
    text-align: left
  }

  #choices, #chess-workout-image, #nomster-image, #psycho-caption, #nomster-caption {
    max-width: 90%;
  }

  #email {
    padding-top: 5px;
  }

  #github {
    padding-bottom: 15px;
  }

  #portfolio {
    max-width: 85%;
  }

  #resume-image {
    max-height: 60%;
    max-width: 60%;
  }

  h1 {
    display: none;
  }

  h2 {
    display: block;
  }
}

/* Tablet styles here. */
@media screen and (min-width: 469px) {

  nav {
    font-size: 24px;
  }

  #choices, #nomster-image, #chess-workout-image, #psycho-caption, #nomster-caption, #chess-workout-caption {
    max-width: 90%;
  }

  .about {
    display: block;
    clear: both;
    padding: 10px 0 0 0;
  }

  .portfolio, .resume {
    display: inline-block;
    padding: 10px 0 0 0;
  }

  .index-box {
    max-width: 90%;
    padding: 20px 0 20px 0;
  }

  #about-me, #contact-block {
    max-width: 80%;
    text-align: left;
  }

  #github {
    padding-bottom: 15px;
  }

  #portfolio {
    max-width: 80%;
  }

  #resume-image {
    max-height: 65%;
    max-width: 65%;
  }

  h1 {
    display: block;
  }

  h2 {
    display: none;
  }
}

/* Desktop styles here. */
@media screen and (min-width: 900px) {

  nav {
    font-size: 26px;
  }

  .about, .portfolio, .resume {
    display: inline;
  }

  .portfolio-heading {
    font-size: 250%;
  }

  #nomster-image {
    width: 65%;
  }

  #about-me, #contact-block {
    max-width: 60%;
  }

  #about-me p {
    font-size: 125%;
  }

  #github {
  padding-bottom: 15px;
  }

  #psycho-caption, #nomster-caption, #chess-workout-caption {
    font-size: 125%;
  }

  #resume {
    padding-bottom: 10px;
  }

  #resume-image {
    max-height: 75%;
    width: auto;
  }

  h1 {
    display: block;
  }

  h2 {
    display: none;
  }
}
